@model IEnumerable<IdentidadIntegral.Models.Company>

<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
<link rel="stylesheet" href="~/IdentidadIntegral.styles.css" asp-append-version="true" />
<!-- CSS de AdminLTE -->
<link href="~/css/adminlte.min.css" rel="stylesheet" />
<!-- DataTables -->
<link rel="stylesheet" href="~/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
<link rel="stylesheet" href="~/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
<link rel="stylesheet" href="~/plugins/datatables-buttons/css/buttons.bootstrap4.min.css">
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet" />

@{
    ViewData["Title"] = "Compañias";
}

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 mt-2">
                <div class="card">
                    <div class="card-header d-flex align-items-center justify-content-end">
                        <a asp-action="Create" class="btn btn-primary">Crear</a>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <table id="table2" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>
                                        Nombre
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Description)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.CreatedAt)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.UpdatedAt)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Enabled)
                                    </th>
                                    <th>Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td class="dtr-control sorting_1">
                                            @Html.DisplayFor(modelItem => item.Name)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Description)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.CreatedAt)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.UpdatedAt)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Enabled)
                                        </td>
                                        <td>
                                            <div>
                                                <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.IdCompany">
                                                    <i class="fa fa-edit"></i>
                                                    Editar
                                                </a>
                                                <a class="btn btn-success" asp-action="Details" asp-route-id="@item.IdCompany">
                                                    <i class="fa fa-eye"></i>
                                                    Ver
                                                </a>
                                                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.IdCompany">
                                                    <i class="fa fa-trash"></i>
                                                    Eliminar
                                                </a>
                                                <!-- Botón que abre el modal 
                                                <a class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#myModal">
                                                    <i class="fa fa-trash"></i>
                                                    Eliminar con modal
                                                </a> -->

                                                <!-- El modal 
                                                <div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                    await Html.PartialAsync("_DeleteCompany", item)
                                                </div>

                                                -->
                                            </div>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</section>


<script src="~/js/site.js" asp-append-version="true"></script>
<!-- J Query -->
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<!-- Bootstrap -->
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<!-- DataTables  & Plugins -->
<script src="~/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="~/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
<script src="~/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
<script src="~/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
<script src="~/plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
<script src="~/plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
<script src="~/plugins/jszip/jszip.min.js"></script>
<script src="~/plugins/pdfmake/pdfmake.min.js"></script>
<script src="~/plugins/pdfmake/vfs_fonts.js"></script>
<script src="~/plugins/datatables-buttons/js/buttons.html5.min.js"></script>
<script src="~/plugins/datatables-buttons/js/buttons.print.min.js"></script>
<script src="~/plugins/datatables-buttons/js/buttons.colVis.min.js"></script>
<!-- AdminLTE App -->
<script src="~/js/adminlte.min.js"></script>

<!-- Page specific script -->
<script>
    $(document).ready(function () {
        $.noConflict();
        $("#table1").DataTable({
            "responsive": true, "lengthChange": false, "autoWidth": false,
            "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
        }).buttons().container().appendTo('#table1_wrapper .col-md-6:eq(0)');
        $('#table2').DataTable({
            "paging": true,
            "lengthChange": false,
            "searching": false,
            "ordering": true,
            "info": true,
            "autoWidth": false,
            "responsive": true,
        });
    });</script>

<script>
    console.log("jQuery version: " + $.fn.jquery);
</script>